* {
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
}
.hero-image {
    background-image: url(../../assets/images/barberPicBW.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 36em;
    margin: 0;
    vertical-align: top;
}